{% extends 'base.html.twig' %}

{% block title %}Nouvelle réponse{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Créer une nouvelle réponse</h1>

    <div class="mb-3">
        {{ include('reponse/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>

    <a href="{{ path('app_reponse_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}
