{% extends 'base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Créer une nouvelle question</h1>

    <div class="mb-3">
        {{ include('question/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>

    <a href="{{ path('app_question_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}
