<form method="post" action="{{ path('app_cours_delete', {'id': cour.id}) }}" 
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce cours ?');"
      class="d-inline">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cour.id) }}">

    <a href="{{ path('app_cours_delete', {'id': cour.id}) }}" 
       class="btn btn-danger mt-2" 
       onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce cours ?');">
        <i class="bi bi-trash"></i> Supprimer
    </a>
</form>
