{% extends 'base.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
<div class="container mt-5">
    {{ form_start(form) }}
        {{ include('cours/_form.html.twig') }}
        <button type="submit" class="btn btn-primary mt-3">Modifier le cours</button>
    {{ form_end(form) }}
</div>
{% endblock %}
