{% extends 'base.html.twig' %}

{% block title %}Modifier Cours{% endblock %}

{% block body %}
    <h1>Modifier un cours</h1>

    {{ include('cours/_form.html.twig', {
        form: form,
        button_label: 'Update'
    }) }}
{% endblock %}
